public_html_v2/test2/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Library"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="Library"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="Library"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:documentation></xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Library">
            <xsd:complexType name="book">
                <xsd:sequence>
					<xsd:element name="order_id" type="xsd:string"></xsd:element>
                    <xsd:element name="dish_name" type="xsd:string"></xsd:element>
                    <xsd:element name="number_of_servings" type="tns:integer"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="cart">
                <xsd:sequence>
					<xsd:element name="product_list" type="xsd:product_list"></xsd:element>
					<xsd:element name="cart_id" type="xsd:cart_id"></xsd:element>
					<xsd:element name="date" type="xsd:string"></xsd:element>
					<xsd:element name="total_price" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="product_list">
                <xsd:sequence>
					<xsd:element name="product" type="xsd:product"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="product">
                <xsd:sequence>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="weight" type="xsd:string"></xsd:element>
					<xsd:element name="price" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="carts">
                <xsd:sequence>
					<xsd:element name="cart" type="xsd:cart"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="cart_list">
                <xsd:sequence>
					<xsd:element name="order_id" type="xsd:string"></xsd:element>
                    <xsd:element name="carts" type="xsd:carts"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="bookYearRequest">
        <wsdl:part name="book" type="xsd:book"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="bookYearResponse">
        <wsdl:part name="cart_list" type="xsd:cart_list"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="Library">
        <wsdl:operation name="bookYear">
            <wsdl:input message="tns:bookYearRequest"/>
            <wsdl:output message="tns:bookYearResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Library" type="tns:Library">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="bookYear">
            <soap:operation soapAction="http://cs35901.tmweb.ru/test2/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Library">
        <wsdl:port binding="tns:Library" name="BookLibrary">
            <soap:address location="http://cs35901.tmweb.ru/test2/server.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>