public_html_v2/Pasha/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Library"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="Library"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="Library"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:documentation></xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Library">
            <xsd:complexType name="order">
                <xsd:sequence>
                    <xsd:element name="order_id" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="order_info">
                <xsd:sequence>
                    <xsd:element name="order_id" type="xsd:string"></xsd:element>
					<xsd:element name="dish_name" type="xsd:string"></xsd:element>
					<xsd:element name="number_of_servings" type="xsd:string"></xsd:element>
					<xsd:element name="weigth" type="xsd:string"></xsd:element>
					<xsd:element name="date" type="xsd:string"></xsd:element>
					<xsd:element name="price" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="bookYearRequest">
        <wsdl:part name="order" type="xsd:order"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="bookYearResponse">
        <wsdl:part name="order_info" type="tns:order_info"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="Library">
        <wsdl:operation name="DeliveryCart">
            <wsdl:input message="tns:bookYearRequest"/>
            <wsdl:output message="tns:bookYearResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Library" type="tns:Library">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DeliveryCart">
            <soap:operation soapAction="http://cs35901.tmweb.ru/Pasha/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Library">
        <wsdl:port binding="tns:Library" name="BookLibrary">
            <soap:address location="http://cs35901.tmweb.ru/Pasha/server.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>